[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
ruff = "*"
black = "*"
ipykernel = "*"
fastapi = "*"
uvicorn = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
